:root {
  --navbar-bg: #564f2163;
  --font-color: #ffeeaf;
  --hover-font-color: #adff2f;
  --hover-color-secondary: #da9865;
  --button-background-signin: rgba(152, 92, 9, 0.453);
  --button-border: #b97c58;
  --box-shadow-color: #da9865;
  --modal-bg: rgba(73, 43, 11, 0.75);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
